<div class="space-y-10">
  <nav>
    <%= link_to "â† Articles", root_path,
      class: "text-sm font-medium text-slate-600 hover:text-slate-900"
    %>
  </nav>

<header class="space-y-2">
<h1 class="text-3xl font-bold tracking-tight">Edit Article</h1>
</header>
<%= render "form", article: @article %>
</div>